


html {
    direction: ltr;
}

header, .center, footer {
    min-height: 80px;
    border: 2px solid blue;
}

header {
    background-color: darkgoldenrod;
    margin-bottom: 5px;
}

.header_top {
    min-height: 20px;
    display: flex;
    flex-direction: row;
    height:150px;
}



.main_nav {
    background-color: darkblue;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

    .main_nav a {
        text-decoration: none;
        font-size: 24px;
        color: darkgoldenrod;
        margin: 10px;
    }


.center {
    background-color: darkblue;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 300px;
}

main {
    background-color: darkblue;
    flex: 4;
    color: gold;
    padding: 5px 10px;
}


aside {
    background-color: darkgoldenrod;
    flex: 1;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: darkblue;
    text-align: center;
    color: darkgoldenrod;
}
.pics {
    width: 250px;
    height: 300px;
}
a {
    color: darkgoldenrod;
}
.header_date {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#DateLabel {
    flex: 1;
}

#DayImage {
    flex: 3;
    max-width: 125px;
    height: auto;
}

.header_center{
    flex: 8;
    text-align:center;
}

.header_right {
    flex: 1;
    height: inherit;
}

.header_right img{
    height: inherit;
}

