


html {
    direction: ltr;
}

header, .center, footer {
    min-height: 80px;
    border: 2px solid #0B0B45;
}

header {
    background-color: #b8860b;
    margin-bottom: 5px;
}

.header_top {
    min-height: 20px;
    display: flex;
    flex-direction: row;
    height:150px;
}



.main_nav {
    background-color: #0B0B45;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

    .main_nav a {
        text-decoration: none;
        font-size: 24px;
        color: #b8860b;
        margin: 10px;
    }


.center {
    background-color: #0B0B45;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 300px;
}

main {
    background-color: #0B0B45;
    flex: 4;
    color: gold;
    padding: 5px 10px;
}


aside {
    background-color: #b8860b;
    flex: 1;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: #0B0B45;
    text-align: center;
    color: #b8860b;
}
.pics {
    width: 250px;
    height: 300px;
}
a {
    color: darkgoldenrod;
}
.header_date {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#DateLabel {
    flex: 1;
}

#DayImage {
    flex: 3;
    max-width: 125px;
    height: auto;
}

.header_center{
    flex: 8;
    text-align:center;
}

.header_right {
    flex: 1;
    height: inherit;
}

.header_right img{
    height: inherit;
}
.workout_gym {
    text-align: left;
    background-color: black;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px; 
    margin-right: auto padding: 30px;

    border: 2px solid #b8860b;
    border-radius: 15px;
    max-height: 400px;
    overflow-y: auto;

    flex: 1;
}
footer a {
    color: white;
    text-decoration: none;
}
#gym_workout{
    width:inherit;
    margin:auto;
    align-self:center;
}

.gym_bottom_section {
    display: flex;
    flex-direction: row;
}

.gym_bottom_img_section {
    height: inherit;
    padding: 0;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}
